body {
    font-family: Arial;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* CSS for header bar */
header {
    background-color: #d0c27a;
    color: black;
    padding: 50px 75px 75px;
    border-radius: 5px;
}

header h1 {
    margin-left: 150px;
    padding: 0px;
}

header::after {
    content: "";
    display: block;
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
}

/* CSS for navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    position: absolute;
    top: 95px;
    left: 1050px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: block;
    background-color: rgb(255, 213, 154);
    padding: 25px 25px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: grey;
}

/* CSS for body paragraph */
section h2 {
    background-color: lightgray; 
    padding: 25px; 
    width: 125px;
    float: left; 
    display: Block;
    clear: both; 
    margin-left: 325px;
}

section h3,
section h4,
section h5,
section h6,
section h7 {
    background-color: lightgray; 
    padding: 50px 50px; 
    width: 750px;
    float: left; 
    display: Block;
    clear: both; 
    margin-left: 60px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
}

/* CSS for images */
#About img,
#P2 img,
#P3 img,
#P4 img,
#P5 img,
#P6 img {
    width: 750px;
    padding: 30px;
    border: 5px solid white;
    border-radius: 0; 
    margin-left: 60px;
    margin-top: 100px;
}

/* Dark mode styles */
.dark-mode header {
    background-color: #333;
    color: #fff;
}

.dark-mode body {
    background-color: #343434 !important;
    color: #fff !important;
}

.dark-mode nav ul li a {
    color: #fff;
    background-color: #555;
}

.dark-mode section h2,
.dark-mode section h3,
.dark-mode section h4,
.dark-mode section h5,
.dark-mode section h6,
.dark-mode section h7 {
    background-color: #333;
    color: #fff;
}

.dark-mode footer {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: beige;
    padding: 20px;
}
